fastapi
uvicorn[standard]
python-dotenv
langgraph
langchain
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers
pypdf
pdfplumber
duckduckgo-search
groq
python-multipart